
<h1>Books</h1>

<% @books.each do |book| %>

<span><%= book.title %></span>

<span><%= book.body %></span>

<% end %>




<h2>New book</h2>

<%= form_with model: @book do |f| %>

<div class="field">
<%= f.label :Title %><br>
<%= f.text_field :title %>
</div>

<div class="field">
<%= f.label :Body %><br>
<%= f.text_area :body %>
</div>

<div class="actions">
<%= f.submit 'Create Book' %>
</div>

<% end %>